/.idea/
*.iml
/target/
/out/
/lib
/build/
/.gradle/
/bin
/screenshots
/video/*
.classpath
.project
.settings
.DS_Store
src/test/.DS_Store
*.log.*
*.log
node_modules/
package-lock.json
package.json
**/ansible/**/hosts.ini
