name: E2E tests

on:
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * 1-5'  # Monday to Friday at 2:30AM

jobs:
  build_apk:
    uses: owncloud/android/.github/workflows/build-apk.yml@master
    with:
      build_variant: qaRelease
      version: master

  tests:
    needs:
      - build_apk
    uses: ./.github/workflows/e2etests.yml
    with:
      apk: ${{ needs.build_apk.outputs.artifact_name }}
      backend: oCIS
    secrets:
       oc_server_url: ${{ secrets.OC_SERVER_URL }}
